


    <div class="navigation">
        <button class="hamburger" (click)="show()">
            <div id="bar1" class="bar"></div>
            <div id="bar2" class="bar"></div>
            <div id="bar3" class="bar"></div>
        </button>

        <nav>
            <ul>
                <li><a routerLink="/drive">Home</a></li>
                <li><a>Postpaid</a></li>
 

                <li><a>Explore</a></li>
                <li><a>Help</a></li>
            </ul>
        </nav>

    </div>
    <!-- <script src="script.js"></script> -->

