

<!-- <div class="btn-group" style=" align-self: auto;" >
    <a routerLink="/create" class="btn btn-primary active" aria-current="page" style="background-color: white; ">Create Product</a>
    <a routerLink="/view" class="btn btn-primary" style="background-color: white;">View Product</a>
    <a routerLink="/search" class="btn btn-primary" style="background-color: white;">Search Product</a>
</div> -->

<div class="buttons">
	<div>
		<!-- <a class="btn btn-dark btn-big">Dark button</a> -->
		<!-- <a class="btn btn-dark btn-mid">Dark button</a> -->
		<a routerLink="/create" class="btn btn-dark" >Create Product</a>
        <a routerLink="/view" class="btn btn-dark">View Product</a>
        <!-- <a routerLink="/search" class="btn btn-dark">Search</a> -->
        <a routerLink="/search" class="btn btn-dark">Search</a>
	</div>
	
</div>
        






<router-outlet></router-outlet>


