body {
    background: #F5F5F5;
   
  }


  
  .holy-grail {
    min-height: 100vh;
  }
  
  .holy-grail header,
  .holy-grail footer {
    background: #F5F5F5;
    color: #fff;
    /* font-weight: 700; */
  }
  
  .holy-grail header,
  .holy-grail footer,
  .holy-grail .hg-sidebar,
  .holy-grail .hg-content {
    /* text-align: center; */
    font-weight: 700;
    padding: 20px;
  }
  
  .holy-grail,
  .hg-main {
    display: flex;
    flex: 1 3 auto;
    flex-direction: column;
  }
  
  .hg-content {
    flex: 2 3 auto;
  }
  
  .hg-sidebar {
    background: white;
    color: rgba(0, 0, 0, 0.3);
  }
  
  .hg-sidebar-1 {
    order: -1;
  }
  
  @media (min-width: 768px) {
    .hg-main {
      flex-direction: row;
    }
    
    .hg-sidebar {
      flex: 0 0 200px;
    }  
  }
  
  @media (min-width: 992px) {
    .hg-sidebar {
      flex: 0 0 260px;
    } 
  }

  .card {
   
   
    border: none;
    /* border-radius: 15px; */
    box-shadow: 0 3px 30px -3px #d5dbed;
    
    
}

.transparent-button {
    background: transparent;
    border-radius: 50px;
    
    border: 2px solid #142850; /* Border color */
    color: #333; /* Text color */
    padding: 10px 150px; /* Adjust padding as needed */
    font-size: 16px; /* Font size */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .transparent-button:hover {
    background: #E5F1F7; /* Background color on hover */
    color: #fff; /* Text color on hover */
  }
  .transparent-button-1 {
    background: transparent;
    border-radius: 50px;
    
    display: flex; 
    justify-content: space-between;
    flex-direction: row;
    border: 2px solid #142850; /* Border color */
    color: #333; /* Text color */
    padding: 10px 50px; /* Adjust padding as needed */
    font-size: 16px; /* Font size */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .transparent-button-1:hover {
    background: #E5F1F7; /* Background color on hover */
    color: #fff; /* Text color on hover */
  }
   
  .hg-sidebar-2 {
    flex: 0 0 355.8px;
  }
  small { 
    font-size: x-small;
  }
  