

<!-- <header class="main-header">
    <app-navbar (GotoLogin)="Redirectapp($event)"></app-navbar>
</header>
<div class="l-holy-grail">
    
	<main class="l-holy-grail__content">
        <div class="card w-75 mb-3">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Button</a>
            </div>
          </div>
    </main>
 

    
	<nav class="l-holy-grail__nav">Nav</nav>
	<aside class="l-holy-grail__ads">Aside</aside>
</div>
<footer class="main-footer">@richirrim</footer> -->
<body class="holy-grail">
    <header>
      <!-- <p>Holy Grail Layout</p> -->
      <app-navbar (GotoLogin)="Redirectapp($event)"></app-navbar>
    </header> 
    <main class="hg-main" >
      <section class="hg-content" style="max-width: 50%;">
    
        <div class="card w-75 mb-3" style="margin-top: 30px; margin-left: 80px; margin-right: 80px;  border-radius: 30px;">
            <div class="card-body">
              <h5 class="card-title" >Kutty Krishnan T</h5>
              <p class="card-text">True 5GPrepaid 5G</p>
              <p class="card-text">9025678191</p>
              <p class="card-text">Last used on Motorola EDGE 40</p>

              
            </div>

            
          </div>

          <div class="card w-75 mb-3" style="margin-top: 20px; margin-left: 80px; margin-right: 80px;  border-radius: 30px;">
            <div class="card-body">
                <p class="card-text">5G</p>
              <b><h5 class="card-title" >Unlimited</h5></b>
              <button class="transparent-button" style="background: #0C7B93;color: white;">Check Usage</button>

          
            </div>

            
          </div>
          <div class="card w-75 mb-3" style="margin-top: 20px; margin-left: 80px; margin-right: 80px;  border-radius: 30px;">
            <div class="card-body">
                <p class="card-text">Plan</p>
              <h5 class="card-title" >  533 </h5>
              <p class="card-text">Expires on</p>
              <p class="card-text">+2 active plans</p>
              <div class="card-body" style="display: flex; justify-content: space-between; align-items: center;">
                <button class="transparent-button-1" style="background: #0C7B93;color: white;">Recharge</button>
                <button class="transparent-button-1" (click)="fromuserHomePage()">View Plan</button>
            </div>

            

              
              
            </div>

            
          </div>
       
        <div class="card w-75 mb-3" style="margin-top: 20px; margin-left: 80px; margin-right: 80px;  border-radius: 30px;">
            <div class="card-body">
                <p class="card-text">Data</p>
              <h5 class="card-title" >  1.74 GB<small>left of 2 GB</small> </h5>
              <div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                <div class="progress-bar" style="width: 25%"></div>
              </div>
              <div class="card-body" style="display: flex; justify-content: space-between; align-items: center;">
                <button class="transparent-button-1" style="background: #0C7B93;color: white;">Check usage</button>
                <button class="transparent-button-1">Add data</button>
            </div>
            </div>
          </div>

          
        <div class="card w-75 mb-3" style="margin-top: 20px; margin-left: 80px; margin-right: 80px;  border-radius: 30px;background: #E5F1F7;">
            <div class="card-body">
                <p class="card-text" >Setup JioAutoPay</p>
                <span style="display: flex; flex-direction: row;">></span>
           
            </div>
          </div>
         
          
      </section>
      <div class="hg-sidebar hg-sidebar-1">
       
            <div class="card w-300 mb-3" style="margin-top: 30px; border-radius: 30px;margin-left: 20px;">
                <div class="card-body">
                    <p class="card-text">Data</p>
                    <h5 class="card-title">1.74 GB<small>left of 2 GB</small></h5>
                    <div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                        <div class="progress-bar" style="width: 25%"></div>
                    </div>
                </div>
            </div>
        
      </div>
      <div class="hg-sidebar hg-sidebar-2" >
        <!-- <div class="card w-200 mb-3" style="margin-top: 30px; border-radius: 30px;">
            <div class="card-body">
                <p class="card-text">Data</p>
                <h5 class="card-title">1.74 GB<small>left of 2 GB</small></h5>
                <div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                    <div class="progress-bar" style="width: 25%"></div>
                </div>
            </div>
        </div> -->
        <div class="card mb-3" style="margin-top: 30px; margin-right: 20px; border-radius: 30px;background: #E5F1F7; ">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../../assets/myjioQRDashboard.svg" class="img-fluid rounded-start" alt="..."  style= "height: 100%;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text">Aetherix</p>
                  <h5 class="card-title">One app for everything Jio</h5>
                  <p class="card-text"><small class="text-body-secondary">Scan the QR code to use exclusive features like vouchers, HelloJio, Coupons and much more</small></p>
                </div>
              </div>
            </div>
          </div>
    </div>
    
    </main>  
    <footer>
      <p>Footer</p>
    </footer>  
  </body>  
 